.collectionCard{
    color: white;
    background-color: #1a1c1e;
    border-radius: 20px;
    overflow: hidden;
    width: 300px;
    height: 500px;
    margin: 30px;
}

.details {
    margin: 20px;
}

.name {
    font-size: 20px;
    font-weight: 900;
}

.id{
    color: #a1a5b0;
    font-size: 18px;
    font-weight: 600;
}

.collectionCard > img{
    width: 100%;
}

.wethImage {
    height: 25px;
    width: 15px;
}

.priceContainer {
    display: flex;
    align-items: center;
    margin-top: 10px;
    object-fit: contain;
}

.price {
    margin-left: 5px;
    font-weight: 600;
}