.header {
  color: white;
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.punkLogo {
  width: 200px;
}

.header > div {
  margin: 10px;
  cursor: pointer;
}

.searchBar {
  background-color: #1c1c1e;
  flex: 1;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
}

.searchIconContainer {
  margin: 13px;
}

.searchInput {
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
  font-size: 16px;
  color: white;
}

.headerItems {
  display: flex;
  color: #a1a5b0;
}

.headerItems > p {
  margin: 10px;
}

.headerActions {
    display: flex;
    align-items: center;
}

.headerActions > div {
    margin: 10px;
}

.themeSwitchLogoContainer {
    display: flex;
    background-color: #1c1e1e;
    border-radius: 50px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.themeSwitchLogoContainer > img {
    height: 25px;
}

.loginBtn {
    background: linear-gradient(to right, #59f9b7, #66feea);
    padding: 15px 40px;
    border-radius: 50px;
    color: black;
    font-weight: 500;
}